# Environment variables for the backend application
PORT=YOUR_PORT_NUMBER
NODE_ENV=`production or development`

# MongoDB connection URI
MONGO_URI=YOUR_MONGODB_CONNECTION_URI

# JWT configuration
JWT_SECRET=YOUR_JWT_SECRET_KEY
JWT_EXPIRES_IN=YOUR_JWT_EXPIRATION_TIME (e.g., 90d for 90 days)
JWT_COOKIE_EXPIRES_IN=YOUR_JWT_COOKIE_EXPIRATION_TIME (e.g., 90d for 90 days)

# Cloudinary configuration for image uploads
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY

# Client URL for CORS and redirects
CLIENT_URL=YOUR_CLIENT_URL (e.g., http://localhost:5173)

